table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom : 5px;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #333;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #4CAF50;
    cursor: pointer;
  }
 
/* styles for search form */
.search-form {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form input[type="text"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-form button[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}